*:not(tr *) {
    overflow-wrap: anywhere;
}

tr {
    overflow-wrap: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: sans-serif;
    margin: 0;
}

#banner, header, main, footer {
    padding: 0.5rem;
    padding-inline: 10vw;
}

#banner {
    background: yellow;
    color: black;
    text-align: center;
}

header {
    background: blue;
    color: white;
}

header nav {
    margin-block: 1rem;
}

header a {
    color: white;
}

header a.selected {
    font-weight: bold;
}

header h1 a {
    text-decoration: none;
}

nav a {
    margin-inline-end: 0.5rem;
}

details {
    margin-block: 1rem;
}

hr {
    border: 0.1rem solid #ccc;
}

dt {
    font-weight: bold;
}

pre, code {
    background: #eee;
}

pre {
    padding: 0.5rem;
    overflow: auto;
}

blockquote {
    margin: 0;
    margin-block: 1rem;
    padding: 0.5rem;
    padding-block: 1px;
    background: #eee;
    border-left: 0.5rem solid blue;
}

blockquote pre, blockquote code {
    background: white;
}

table {
    border-collapse: collapse;
    max-width: 50rem;
}

tr:first-child {
    border-bottom: 0.1rem solid #ccc;
}

th {
    text-align: start;
}

td {
    vertical-align: top;
}

th:not(:last-child), td:not(:last-child) {
    padding-inline-end: 0.5rem;
}

abbr {
    cursor: help;
}

main {
    flex-grow: 1;
}

footer {
    background: #eee;
}

@media (max-width: 1000px) {
    #banner {
        text-align: left;
    }
}